<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tucker.gmall.manageservice.mapper.SaleAttrValueMapper">

    <resultMap id="SpuSalAttr" type="com.tucker.gmall.bean.PmsProductSaleAttr" >
        <result column="sa_id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="sale_attr_id" property="saleAttrId"/>
        <result column="sale_attr_name" property="saleAttrName"/>
        <collection  property="spuSaleAttrValueList" ofType="com.tucker.gmall.bean.PmsProductSaleAttrValue" >
            <result column="sav_id" property="id"/>
            <result column="product_id" property="productId"/>
            <result column="sale_attr_id" property="saleAttrId"/>
            <result column="sale_attr_value_name" property="saleAttrValueName"/>
            <result column="isChecked" property="isChecked"/>
        </collection>
    </resultMap>

    <select id="spuSaleAttrListCheckBySku" resultMap="SpuSalAttr">
        SELECT
            sa.id sa_id,sav.id sav_id,sa.product_id product_id,sa.sale_attr_id sale_attr_id,sa.sale_attr_name sale_attr_name, sav.sale_attr_value_name sale_attr_value_name,
            IF (ssav.sku_id, 1, 0) AS isChecked
        FROM
	        pms_product_sale_attr sa
        INNER JOIN pms_product_sale_attr_value sav ON sa.product_id = sav.product_id
        AND sa.sale_attr_id = sav.sale_attr_id
        AND sa.product_id = #{spuId}
        LEFT JOIN pms_sku_sale_attr_value ssav ON sav.id = ssav.sale_attr_value_id
        AND ssav.sku_id = #{skuId}
    </select>

</mapper>