<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tucker.gmall.manageservice.mapper.SkuInfoMapper">

    <resultMap id="SkuInfo" type="com.tucker.gmall.bean.PmsSkuInfo">
        <result column="sku_id" property="id"/>
        <collection property="SkuSaleAttrValueList" ofType="com.tucker.gmall.bean.PmsSkuSaleAttrValue">
            <result column="sale_attr_value_id" property="saleAttrValueId"/>
        </collection>
    </resultMap>

    <select id="selectAttrValueBySpuId"  resultMap="SkuInfo">
        SELECT
	        si.id sku_id, ssav.sale_attr_value_id sale_attr_value_id
        FROM
	        pms_sku_info si
        INNER JOIN
	        pms_sku_sale_attr_value ssav
        where
            si.id = ssav.sku_id
        and si.spu_id=#{spuId}
    </select>

</mapper>